# .gitignore

# ignore go files
*.go

# ignore vendor directory
vendor/

# ignore node_modules directory
node_modules/

# ignore .env file
.env

# ignore IDE temp files
*.tmp

# ignore IDE cache
.idea/

# ignore VSCode cache
.vscode/