# .gitignore
# ignore go build files
*.go.o
*.go.p
# ignore go build directories
*_test/
# ignore go build files in vendor directory
vendor/_test/
# ignore go build files in vendor directory
vendor/*.go.o
vendor/*.go.p